<div class="block">
  <h3>Filters</h3>
  <div class="option-block">
    <h4 class="option-block-heading">Launch Year</h4>
    <ul class="options-list">
      <li *ngFor="let year of yearArray">
        <label class="custom-radio" [ngClass]="{'active':queryParams['launch_year'] == year}">
          <input type="radio" name="launch_year" value={{year}} (change)="changeEvent($event)" />
          <span>{{year}}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="option-block">
    <h4 class="option-block-heading">Successful Launch</h4>
    <ul class="options-list">
      <li>
        <label class="custom-radio" [ngClass]="{'active':queryParams['launch_success'] === 'true'}">
          <input type="radio" name="launch_success" value="true" (change)="changeEvent($event)" />
          <span>True</span>
        </label>
      </li>
      <li>
        <label class="custom-radio" [ngClass]="{'active':queryParams['launch_success'] === 'false'}">
          <input type="radio" name="launch_success" value="false" (change)="changeEvent($event)" />
          <span>False</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="option-block">
    <h4 class="option-block-heading">Successful Landing</h4>
    <ul class="options-list">
      <li>
        <label class="custom-radio" [ngClass]="{'active':queryParams['land_success'] === 'true'}">
          <input type="radio" name="land_success" value="true" (change)="changeEvent($event)" />
          <span>True</span>
        </label>
      </li>
      <li>
        <label class="custom-radio" [ngClass]="{'active':queryParams['land_success'] === 'false'}">
          <input type="radio" name="land_success" value="false" (change)="changeEvent($event)" />
          <span>False</span>
        </label>
      </li>
    </ul>
  </div>
</div>