.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
  header{
    margin-bottom: 10px;
  }
}
.footer-text{
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  strong{
    font-weight: 700;
  }
}